<!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="/angularjs-path/css/main.css"
</head>
<body>

    <section ng-app="demoApp" >
        <div ng-controller="appCtrl">
            <button ng-click="doLog()">Test</button>
            <button ng-click="appCtrl.doLog2()">Test2</button>
        </div>

        <age-check calc-age="" name="Artem" age="10"></age-check>
        <age-check age="22"></age-check>

        <script type="text/ng-template" id="ageCheck.html">
            <input ng-model="age" type="text"/>
            <button ng-click="check()">Ok</button>
            <span>{{age}} {{message}} {{name}}</span>
            <input ng-model="name" type="text"/>
            <br>
        </script>
    </section>

    <hr>

    <section id="sampleAppContainer" ng-app="sampleApp">
        <ng-view></ng-view>

        <script type="text/ng-template" id="index.tpl">
            <span>{{name}}</span>
            <h2>{{clickCount}}</h2>
            <button ng-click="inc()">More</button>
        </script>

        <script type="text/ng-template" id="test.tpl">
            <h2>Test</h2>
        </script>

        <script type="text/ng-template" id="app.tpl">
            <h2>App there: {{appName}}</h2>
            <h3>by {{author}}</h3>

            <input class="btn" type="button" value="Click me!"/>
        </script>

    </section>

    <script src="/angularjs-path/js/libs/angular/angular.min.js"></script>
    <script src="/angularjs-path/js/libs/angular-route/angular-route.min.js"></script>
    <script src="/angularjs-path/js/main.js"></script>
    <script>
        angular.bootstrap(document.getElementById('sampleAppContainer'), ['sampleApp'])
    </script>

</body>
</html>